@model TiendaVirtual.Entidades.Usuario

@{
    ViewBag.Title = "AnadirUsuario";
}

<h2>Anadir Usuario</h2>

<section id="anadirUsuarios" class="row">

    <div class="col-xs-12 col-sm-6">
        @using (Html.BeginForm("Anadir", "Usuarios"))
        {   @*<form id="frmProducto" action="/Usuarios/Anadir" class="form-inline" method="post">*@
            <div class="form-group">

                <div class="form-group">
                    <label for="id">ID</label>
                    <input class="form-control" type="number" name="id" id="id" placeholder="Id tiene que ser mayor a 2" />
                </div>

                <div class="form-group">
                    <label for="nick">Nick</label>
                    <input class="form-control" type="text" name="nick" id="nick" />
                </div>

                <div class="form-group ">
                    <label for="password">Password</label>
                    <input class="form-control" type="text" name="password" id="password" />
                </div>

                <input type="submit" value="Anadir" class="btn btn-success" />
            </div>
        }
    </div>

</section>